<header class="header">
  <div class="header__content">
    <div class="header__text">
      <div class="header__logo-wrapper">
        <img src="images/logo_horizontal.png" alt="Quálitas" class="header__logo header__logo--desktop" />
        <img src="images/logo_horizontal_blanco.png" alt="Quálitas" class="header__logo header__logo--mobile" />
      </div>
      <p class="header__subtitle">
        Bienvenido, estás a un toque de la información y servicios más importantes de tu seguro de auto.
      </p>
    </div>

    <img src="images/auto-header.png" alt="Auto asegurado" class="header__image" />
  </div>
</header>