<a href="https://api.whatsapp.com/send/?phone=525579627125&text=Hola&type=phone_number&app_absent=0" target="_blank" rel="noopener" class="banner">
  <div class="banner__text">
    <h2 class="banner__title">Consulta el estatus de tu siniestro</h2>
    <p class="banner__subtitle">
      En caso de dudas o comentarios favor de llamar al: <strong>+52 55 7962 7125</strong>
    </p>
    <span class="banner__link">Chatear con Quali-bot <span>›</span></span>
  </div>

  <div class="banner__image-wrapper">
    <img src="images/QUALIBOT_1.png" alt="Quali-bot" class="banner__image" />
  </div>
</a>